.play-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.play-button:hover {
  background-color: #eee;
}