#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.rod {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.rod-base {
  width: 20px;
  height: 200px;
  background-color: #aaa;
  border-radius: 10px;
  margin-bottom: 5px;
}

.nut {
  width: 40px;
  height: 20px;
  margin: 2px 0;
  border-radius: 5px;
  border: 2px solid #333;
}
